<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="angular-1.8.2/angular.min.js"></script>
</head>
<!-- ng-app: khai báo tên application -->
<body ng-app="wd18301">
    <!-- ng-controller: khai báo tên controller -->
    <div class="container" ng-controller="imgController">
        <form action="" class="container" ng-controller="myController">
            <div>
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" ng-model="name">
                <h1 ng-bind="name"></h1>
                <!-- mảng  -->

                <!-- <h1 ng-if="listUser.length > 0" ng-repeat="user in listUser">Hello {{ user }}</h1>
                <h1 ng-show="listUser.length > 0" ng-repeat="user in listUser">Hello {{ user }}</h1>
                <h1 ng-hide="listUser.length == 0" ng-repeat="user in listUser">Hello {{ user }}</h1>
                 -->
                <button class="btn btn-primary" type="button" ng-click="upCount()">Bấm</button>
                <p ng-mouseover="upCount()">{{ count }}</p>
                <h1 ng-if="count%2==0">Đây là số chẵn</h1>
                <h1 ng-show="count%2==0">Đây là số chẵn</h1>
                <h1 ng-hide="count%2==0">Đây là số lẻ</h1>
                
                 <!-- Object -->
                <h1>Hello {{ teacher.name }}</h1>
                <h1>Hello {{ teacher['email'] }}</h1>
                <!-- <img src="{{path}}" alt=""> -->
                <img src="{{ $parent.$parent.path }}" alt="">
            </div>
        </form>
    </div>
    <img src="{{path}}" alt="">

    <script>
        //khởi tạo module angular
        var app = angular.module('wd18301', []);
        //khai báo controller: 2 tham số: 
        // 1 là 'tên controller'
        // 2 là hàm xử lý
        
        // // C1: viết trực tiếp hàm
        
        //mảng
        // app.controller('myController', function ($scope) {
        //     $scope.listUser = ['thaivm2','thaivm3','thaivm4'];
        // });
        app.controller('imgController', function ($scope, $rootScope) {
            // $scope.path = './images/chicago.jpg'; scope thường
            $rootScope.path = './images/chicago.jpg';
        })
        app.controller('myController', function ($scope) {
            $scope.teacher = {
                name: 'thaivm2',
                email: 'thaivm2@fe.edu.vn',
                gender: 'male',
            };
            $scope.listUser = [];
            $scope.count = 1;
            $scope.upCount = function () {
                $scope.count += 1;
            };
        });
        //rút gọn
        // angular.module('wd18301', []).controller('myController', function ($scope) {
        //     $scope.name = 'wd18301';
        // })
        // C2: gọi tên hàm khai báo sẵn
        // function tenFunction($scope) {
        //     $scope.name = 'wd18301';
        // }
        // app.controller('myController', tenFunction);
    </script>
</body>
</html>